/* Selectors likely act as API to traverse Document Object Model (DOM) and pick out the elements matching the seletctor */

/*** ELEMENT, ID, AND CLASS SELECTOR ***/
/* All h2 elements */
h2.CSS-selector-types {
    color: red;
    text-align: center;
}
/* Applied to all elements with class = "highlight */
.highlight.CSS-selector-types {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background-color: green;
    opacity: .7;        
}
/* Applied to all elements with id = "mainPoint" */
#mainPoint.CSS-selector-types {
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    opacity: .5;
}
/* Applied to all p and h1 elements */
p.CSS-selector-types, h1.CSS-selector-types {
    color: blue;
    text-align: center;
}

/*** COMBINING SELECTORS ***/
/** SELECTOR WITH SELECTORS **/
/* h2 element with id="base" attribute */
h2#base.selector-selectors {
    color: chocolate;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* All p elements with class "highlight" */
p.highlight.selector-selectors {
    font-style: italic;
}
/* All elements with class "highlight" and class "mainPoint" */
.highlight.mainPoint.selector-selectors {
    color: white;
    background-color: black;
}

/** DIRECT CHILD **/
/* All article elements whose parent is section element */
section.direct-child > article.direct-child {
    color: green;
    font-size: 24px;
}
/* All h2 elements whose parent is section element */
section.direct-child > h2.direct-child {
    color: green;
}
/* All p elements whose immediate parent is div element and the div element's immediate parent is section element */
section.direct-child > div.direct-child > p.direct-child {
    color: black;
    background-color: red;
    font-style: italic;

}

/** DESCENDANT SELECTOR **/
/* All li elements that are inside a section element */
section.descendant-selector li.descendant-selector {
    color: green;
}

/*** PSEUDO-CLASS SELECTORS ***/
header.pseudo-class li{
    list-style: none; /* Remove list bullets */
}
/* 
    Because link have states (link, visited, and active) so to style all of those, we cannot use regular methods. Pseudo-class is used here for each
    "link" pseudo-class name is used for configuring the style of unclicked link (yet) 
    "Visited" pseduo-class name is used for configuring the style of clicked link 
*/
header.pseudo-class a:link, header.pseudo-class a:visited{
    text-decoration: none;
    border: 1px solid orange;
    margin-bottom: 1px;
    text-align: center;
    width: 200px;
    display: block;
    color: black;
    background-color: rgb(136, 214, 105);
}    
header.pseudo-class a:hover, header.pseudo-class a:active{
    color:white;
    background-color: blue;
} 
section.pseudo-class div:nth-child(even){
    background-color: grey;
}
section.pseudo-class div:nth-child(2n+1):hover{
    background-color: aqua;
    font-style: italic;
}      

/*** CONFLICT RESOLUTIONS ***/

/** ORIGIN-MERGE CONCEPT **/
section.origin-merge p{
    font-size: 130%;
    background-color: grey;
    color: black;
}

/** INHERITANCE CONCEPT **/
section.inheritance{
    color: red;
    font-family: "Times New Roman";
    font-size: 130%;
    text-align: center
}
section.inheritance p{
    color: blue;
}

/** SPECIFICITY CONCEPT **/
h3.header3 {
    color: pink;
    text-align: end;
}
/* vs */
section.specificity h3{
    color: purple;
    text-align: center;
    font-size: 130%;
}
/* -------------- */
section.specificity p{
    color: blue;
}
/* vs */
p.blurb {
    color: red
}

/*** FONT STYLING ***/
section.font-styling h2, section.font-styling p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000ff; /* Specified using six digits hexadecimal value. Each two sequent digits from the left point to R, G, B */
    font-style: italic;
    font-weight: 900;
    font-size: 120%;
    width: 100%;
}
section.font-styling div{
    font-size: 120%
}

/*** BOX MODEL ***/

/** STAR SELECTOR **/
*{ 
    /** 
        - This rule applies its declarations on every single element within the entire linked document .
        - We can also specify the star selector with other selectors. E.g., "*#box".
    **/
    box-sizing: border-box;
}

/** BOX COMPONENTS **/
body{
    background-color: lightgrey;
}
section.box-model #box{
    background-color:lightblue;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px; /* Equivalent to padding: "10px"; */
    border: 3px dashed maroon; 
    width: 90%;
}
section.box-model #content-before{
    background-color: #90EE90;
    margin-bottom: 20px; /* This will not matter */
}
section.box-model #content-after{
    background-color: #FFEE90;
    margin: 8px; /*Top Right Bottom Left */
    text-align: center;
    padding: 5px;
}

/** OVERFLOW PROPERTY **/
section.box-model p{
    background-color: lightsalmon;
    padding: 5px;
    border: 3px solid purple;
    width: 200px;
    height: 200px;
    overflow: auto;
}

/*** BACKGROUND PROPERTY ***/
section.background-properties div{
    color:darkgreen;
    font-weight: bold;
    text-align:center;
    width: 90%;
    height: 100px;
    text-transform: capitalize;
    background: cyan url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdyPTXPjn2DtwHxVQpYgsorOqA9PniR5YlxQ&usqp=CAU) top left no-repeat;
}

/*** POSITIONING ELEMENTS BY FLOATING ***/

/** Testing **/
section.floating-elements div{
    background-color: cyan;
}
section.floating-elements-1 p{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
section.floating-elements-1 #p1{
    background-color: maroon;
    float: left;
    height: 100px;
}
section.floating-elements-1 #p2{
    background-color:burlywood;
    float: right;
    height: 150px;
}
section.floating-elements-1 #p3{
    background-color:cadetblue;
    clear: both; /* This case, clear: right; will result the same */
}
section.floating-elements-1 #p4{
    background-color:tomato;
}
section.floating-elements-1 > div > div{
    clear: left;
}
/** Two Columns Floating Elements **/
section.floating-elements-2 p{
    /* float: left; will also do the trick */
    width: 40%; /* Takes up 80% in total of the body element's width. */
    height: max-content;
    border: none;
    margin: 5%; /* Takes up 20% in total of the body element's width. */
}
section.floating-elements-2 #p1-2{
    float: left;
}
section.floating-elements-2 #p2-2{
    float: right;    
}

/*** RELATIVE AND ABSOLUTE ELEMENT POSITIONING ***/
section.rNa-positioning h2{
    clear: both;
}
section.rNa-positioning p{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 15px;
}
/** RELATIVE POSITIONING **/
section.relative-positioning div{
    background-color: lime;
}
section.relative-positioning #p1-rp{
    background-color: maroon;
    position: relative;
    top: 65px;
    left: 65px;
}
section.relative-positioning #p2-rp{
    background-color: burlywood;
}
section.relative-positioning #p3-rp{
    background-color: cadetblue;
}
section.relative-positioning #p4-rp{
    background-color: tomato;
}
/** ABSOLUTE POSITIONING **/
section.absolute-positioning div{
    background-color: cyan;
    position: relative;
    left: 10%;
    width: 90%;
}
section.absolute-positioning #p1-ap{
    background-color: maroon;
    position: relative;
    top: 65px;
    left: 65px;
}
section.absolute-positioning #p2-ap{
    background-color: burlywood;
}
section.absolute-positioning #p3-ap{
    background-color: cadetblue;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
}
section.absolute-positioning #p4-ap{
    background-color: tomato;
}

/*** MEDIA QUERIES ***/

/** Base Styles **/
section.media-query h2{
    margin-bottom: 15px;
}
section.media-query p{
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 15px;
}
section.media-query #p1-mq{
    background-color: maroon;
    margin-bottom: 15px;
    width: 300px;
    height: 300px;
}
section.media-query #p2-mq{
    background-color:burlywood;
    width: 50px;
    height: 50px;
}
/* This size of each devices below are based on Twitter Bootsrap Framework definition */
/** Large Devices Only (>= 1200px width) **/
@media (min-width: 1200px){
    /* Styles declaration go here */
    section.media-query #p1-mq{
        width: 80%; /* Relative to body element's box (width) */
    }
    section.media-query #p2-mq{
        width: 150px;
        height: 150px;
    }
}
/** Medium Devices Only (992px <= size <= 1199px) **/
@media (min-width: 992px) and (max-width: 1199px){
    section.media-query #p1-mq{
        width: 50%; /* Relative to body element's box (width) */
    }
    section.media-query #p2-mq{
        width: 100px;
        height: 100px;
    }
}

/*** RESPONSIVE DESIGN ***/

/** Base Styles **/
section.responsive-design h2{
    margin-bottom: 15px;
}
section.responsive-design p{
    border: 1px solid black;
    background-color: #A52A2A;
    width: 90%; /* Of its block-level element parent */
    margin-right: auto; /* Makes it centered */
    margin-left: auto; /* Makes it centered */
    height: 150px;
    font-family: Helvetica, sans-serif;
    color: white;
}

/** Simple Responsive Framework **/
section.responsive-design div.row{
    /* 
        The total width of our 12-columns grid.
        This case, it is the "div" element's width.
    */
    width: 100%;
}

/** Media Queries Styles **/

/* Large Devices Only */
@media (min-width: 1200px){
    /* Will be applied for the elements which are inside of "section.responsive-design div.row" */
    div.lg-1-col-of-12, div.lg-2-col-of-12, div.lg-3-col-of-12, div.lg-4-col-of-12, div.lg-5-col-of-12, div.lg-6-col-of-12, div.lg-7-col-of-12, div.lg-8-col-of-12, div.lg-9-col-of-12, div.lg-10-col-of-12, div.lg-11-col-of-12, div.lg-12-col-of-12{
        /* E.g., ".lg-1-col-of-12" means that for a large (lg) device, its one column which is a part of the 12-columns grid layout, it takes up about 8.3% of the block-level element's width. (I.e., 12-columns takes up for 100% of block-level element's width */
        float: left;
        border: 1px solid greenyellow;
    }    
    div.lg-1-col-of-12{
        width: 8.33%;
    }
    div.lg-2-col-of-12{
        width: 16.66%;
    }
    div.lg-3-col-of-12{
        width: 25%;
    }
    div.lg-4-col-of-12{
        width: 33.33%;
    }
    div.lg-5-col-of-12{
        width: 41.66%;
    }
    div.lg-6-col-of-12{
        width: 50%;
    }
    div.lg-7-col-of-12{
        width: 58.33%;
    }
    div.lg-8-col-of-12{
        width: 66.66%;
    }
    div.lg-9-col-of-12{
        width: 75%;
    }
    div.lg-10-col-of-12{
        width: 83.33%;
    }
    div.lg-11-col-of-12{
        width: 91.66%;
    }
    div.lg-12-col-of-12{
        width: 100%;
    }
}
/** Medium Devices Only **/
@media (min-width: 950px) and (max-width: 1199px){
    /* Will be applied for the elements which are inside of "section.responsive-design div.row" */
    div.md-1-col-of-12, div.md-2-col-of-12, div.md-3-col-of-12, div.md-4-col-of-12, div.md-5-col-of-12, div.md-6-col-of-12, div.md-7-col-of-12, div.md-8-col-of-12, div.md-9-col-of-12, div.md-10-col-of-12, div.md-11-col-of-12, div.md-12-col-of-12{
        /* E.g., ".md-1-col-of-12" means that for a medium (md) device, its one column which is a part of the 12-columns grid layout, it takes up about 8.3% of the block-level element's width. (I.e., 12-columns takes up for 100% of block-level element's width */
        float: left;
        border: 1px solid greenyellow;
    }    
    div.md-1-col-of-12{
        width: 8.33%;
    }
    div.md-2-col-of-12{
        width: 16.66%;
    }
    div.md-3-col-of-12{
        width: 25%;
    }
    div.md-4-col-of-12{
        width: 33.33%;
    }
    div.md-5-col-of-12{
        width: 41.66%;
    }
    div.md-6-col-of-12{
        width: 50%;
    }
    div.md-7-col-of-12{
        width: 58.33%;
    }
    div.md-8-col-of-12{
        width: 66.66%;
    }
    div.md-9-col-of-12{
        width: 75%;
    }
    div.md-10-col-of-12{
        width: 83.33%;
    }
    div.md-11-col-of-12{
        width: 91.66%;
    }
    div.md-12-col-of-12{
        width: 100%;
    }
}
/** Small Devices Only **/
/* We do not need to specify it because if the both of media queries above are not satisfied, then the style applied will be based on the styles for div element */

p#back-to{
    clear: both;
}
